/*
angelwings.css
by rin (ign: Rinkishimo / discord: Iee#1337)
and fem (ign: Rixacutable / discord: fem#1337)
and cookies (ign: DivineGX / discord: be all; end all#7952 | 883354949562560562)

social links:
https://e-z.bio/gore
https://e-z.bio/lee
cookies (?)

angel with no wings, holy knight with no feathers.
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
#hudClassImg {
    image-rendering: crisp-edges!Important;
    -webkit-font-smoothing: antialiased;
    content: url("https://media.discordapp.net/attachments/791024381912285235/1106890222681206944/w8X80Lt.png")!important;
}

* {
   font-family: 'Montserrat', sans-serif;
}
#hudClassIcon {
    height: 330px;
    bottom: -60px;
    left: -50px;
    width: 330px;
    background: none;
    position: absolute;
}
#healthBar {
    
    bottom: 30px;
    z-index: -1;
    left: 150px;
    background: black;
    transform:  skewX(-20deg);
    height: 35px;
    width: 288px;
    position: absolute;
    border: 8px solid #000000;
    display: inline-flex;

}
.healthBarSeg {
        width: 48px;
    width: -moz-available;
    width: -webkit-fill-available;
    height: 35px;
    border-radius: 0;
    margin-right: 0;
}
.hpBSeg {
    background: white!important;
    box-shadow: none!important;
    height: 35px;
    border-radius: 0;
}
#roundsDisplay {
  background: none;
}
#roundsVal, #roundSub {
        text-shadow: -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     4px 4px black,3px 3px black, 2px 2px black, 1px 1px black, 0px 0px black!important;
}
.roundScrV {
  border: 0!important;
  background: transparent!important;
}
#roundTSc2 {
  color: #3489eb;
          text-shadow: -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     4px 4px black,3px 3px black, 2px 2px black, 1px 1px black, 0px 0px black!important;
}
#roundTSc1 {
  color: #eb4034;
          text-shadow: -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     4px 4px black,3px 3px black, 2px 2px black, 1px 1px black, 0px 0px black!important;
}
#roundsVal {
  font-size: 50px;
}
#healthValueHolder {
display: none;
}
#ammoDisplay {
    text-align: right;
    width: 100px;
    bottom: 108px;
    left: 370px;
    position: fixed;
    background: none;
}
#ammoMax, #ammoIcon {
    display: none;
}
#ammoVal {
    
    -webkit-text-stroke: 4px black;
    text-shadow: 7px 7px black,6px 6px black,5px 5px black,4px 4px black,3px 3px black, 2px 2px black, 1px 1px black;
    font-size: 60px;
    font-family: 'Montserrat', sans-serif!important;
    font-weight: 700;
}
#weapDisplay {
    position: absolute;
    bottom: -210px;
    height: 10px;
    left: 220px;
}
.weapIcon {
     filter: brightness(1) drop-shadow(2px 2px black) drop-shadow(-2px -2px black) drop-shadow(-2px 2px black) drop-shadow(2px -2px black) drop-shadow(4px 4px 0px black);
    position: absolute;
    bottom: 304px;
    height: 55px!important;
    left: 25px;
   image-rendering: crisp-edges!Important;
    opacity: 0 !important;
}
#subLogoButtons {
bottom: 0px;
}
#faceItIconM {
  display: none;
}
#subLogoButtons div, #subLogoButtons .button {
  border: 0!important;
  background: none;
  filter: brightness(1) drop-shadow(2px 2px black) drop-shadow(-2px -2px black) drop-shadow(-2px 2px black) drop-shadow(2px -2px black) drop-shadow(4px 4px 0px black);
}
.weapIcon[style*="1"] {
    opacity: 1 !important;
    height: 80px;
}
#timerDisplay {
  width: 200px;
  background: none;
}
#timerIcon {
  display: none;
}
.countIcon {
  background: none;
}
#myScoreVal {
    font-size: 26px;
    color: rgba(255,255,255,0.5);
    font-family: 'JetBrains Mono', monospace!important;
    text-shadow: -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     4px 4px black,3px 3px black, 2px 2px black, 1px 1px black, 0px 0px black!important;
}
#myScoreVal:before {
  content: "P ";
  color: white;
}
#scoreCount i {
  display: none;
}
#killsVal {
    font-size: 22px;
    color: rgba(255,255,255,.5);
    font-family: 'Montserrat', sans-serif!important;
    text-shadow: -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     4px 4px black,3px 3px black, 2px 2px black, 1px 1px black, 0px 0px black!important;
}
#killsVal:before {
  content: "K ";
  color: white;
}
#killsIcon {
  width: 0px;
  height: 0px;
}
#menuWindow.dark {
  background: none!Important;
}
#deathsVal {
    font-size: 22px;
    color: rgba(255,255,255,.5);
    font-family: 'Montserrat', sans-serif!important;
    text-shadow: -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     4px 4px black,3px 3px black, 2px 2px black, 1px 1px black, 0px 0px black!important;
}
#deathsVal:before {
  content: "D ";
  color: white;
}
#deathsIcon {
  width: 0px;
  height: 0px;
}

#streakVal {
    font-size: 22px;
    color: rgba(255,255,255,.5);
    font-family: 'Montserrat', sans-serif!important;
    text-shadow: -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     4px 4px black,3px 3px black, 2px 2px black, 1px 1px black, 0px 0px black!important;
}
#streakVal:before {
  content: "ST ";
  color: white;
}
#streakIcon {
  width: 0px;
  height: 0px;
}

#kdVal {
    font-size: 22px;
    color: rgba(255,255,255,.5);
    font-family: 'Montserrat', sans-serif!important;
    text-shadow: -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     4px 4px black,3px 3px black, 2px 2px black, 1px 1px black, 0px 0px black!important;
}
#kdVal:before {
  content: "KD ";
  color: white;
}
#kdIcon {
  width: 0px;
  height: 0px;
}

#timerVal {
      -webkit-text-stroke: 4px black;
    text-shadow: 7px 7px black,6px 6px black,5px 5px black,4px 4px black,3px 3px black, 2px 2px black, 1px 1px black;
    font-size: 60px;
    font-family: 'Montserrat', sans-serif!important;
    font-weight: 700;
}
.chatMsg {

  font-family: 'Montserrat', sans-serif!important;
}
#compTimBox, #gameMessage {
        text-shadow: -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     4px 4px black,3px 3px black, 2px 2px black, 1px 1px black, 0px 0px black!important;
 font-family: 'Montserrat', sans-serif!important;
}
.chatMsg>span {
  font-family: 'Montserrat', sans-serif!important;
}
.leaderItem img {
  filter: brightness(1) drop-shadow(1px 1px black) drop-shadow(-1px -1px black) drop-shadow(-1px 1px black) drop-shadow(1px -1px black) drop-shadow(2px 2px 0px black);
}
.leaderCounter {
  color: rgba(255,255,255,.5);
   font-size: 22px;
      text-shadow: -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     4px 4px black,3px 3px black, 2px 2px black, 1px 1px black, 0px 0px black!important;
 font-family: 'Montserrat', sans-serif!important;
}
#fpsDisplay, #fpsDisplay>span {
        text-shadow: -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     4px 4px black,3px 3px black, 2px 2px black, 1px 1px black, 0px 0px black!important;
 font-family: 'Montserrat', sans-serif!important;
}
#pingDisplay, #pingDisplay>span {
        text-shadow: -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     4px 4px black,3px 3px black, 2px 2px black, 1px 1px black, 0px 0px black!important;
 font-family: 'Montserrat', sans-serif!important;
}
#instructions, #spectButton>span {
  font-family: 'Montserrat', sans-serif!important;
}
#spectButton>span {
  font-size: 20px!Important;
}
.debugInfo {
  position: fixed!important;
  top: 103px;
  left: 34px;
}
#pingText {
  color: rgb(158, 235, 86)!important;
}
#pingText:after {
  content:" MS";
  color: rgba(255,255,255,.5)
}
#pingIcon {
  display: none;
}

.leaderScore {
  color: rgba(255,255,255,.5);
    font-size: 22px;
      text-shadow: -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     4px 4px black,3px 3px black, 2px 2px black, 1px 1px black, 0px 0px black!important;
 font-family: 'Montserrat', sans-serif!important;
}
.leaderNameM, .leaderNameM>span {
  font-size: 22px;
      text-shadow: -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     4px 4px black,3px 3px black, 2px 2px black, 1px 1px black, 0px 0px black!important;
 font-family: 'Montserrat', sans-serif!important;
}
.leaderNameF, .leaderNameF>span {
  font-size: 22px;
      text-shadow: -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     4px 4px black,3px 3px black, 2px 2px black, 1px 1px black, 0px 0px black!important;
 font-family: 'Montserrat', sans-serif!important;
}
.leaderName, .leaderName>span {
  font-size: 22px;
      text-shadow: -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     4px 4px black,3px 3px black, 2px 2px black, 1px 1px black, 0px 0px black!important;
 font-family: 'Montserrat', sans-serif!important;
}
.chatItem {
  font-size: 20px;
   filter:drop-shadow(0px 0px black);
font-family: 'Montserrat', sans-serif!important;
      text-shadow: -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     3px 3px black, 2px 2px black, 1px 1px black, 0px 0px black!important;
}
#leaderDisplay {
  background: none;
}
#chatList {
  text-align: right;
  overflow-y: auto;
  background: none;
}
#chatInput {
      text-shadow: -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     3px 3px black, 2px 2px black, 1px 1px black, 0px 0px black!important;

  text-align: right;
}
#chatInputHolder, #chatInput {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif!important;
  border: none;
  background: transparent;
}
.weapKey {
    display: none;
}
#weapItem_2 {
    padding-top: 10px;
}
#uiBase.onGame #chatHolder {
  width: 330px;
  left: calc(100% - 350px);
  bottom: 10px; 
}
#chatList::-webkit-scrollbar {
  display: none;
}


#newsHolder {
  display: none!important;
}
#editorBtnM {
  display: none;
}
.menuSocialB {
  display: none;
}
#headerRight .verticalSeparator {
  display: none;
}
#headerRight {
  background: transparent;
}
#menuPingDisplay {
  display: none;
}
#termsInfo {
  display: none;
}
#streamContainer {
  display: none;
}
#adCon {
  display: none!Important;
}
#freeKRAd {
  display: none!important
}
#doubleXPAd {
  display: none!important;
}
#updateAd {
  display: none!important;
}
#menuItemContainer {
   background: linear-gradient(to right,rgb(0 0 0 / 52%) 50%, rgb(0 0 0 / 0%) 100%)!important;
  z-index: 1;
  top: -90px;
  left: -390px;
  padding-top: 200px;
  padding-left: 320px;
  padding-bottom: 40px;;
  width: 300px;

}
.menBtnIcn {
  color: white !important;
}

.menuItem {
 text-align: left!important;
    font-family: 'Montserrat', sans-serif!important;
filter: brightness(1) drop-shadow(2px 2px black) drop-shadow(-2px -2px black) drop-shadow(-2px 2px black) drop-shadow(2px -2px black) drop-shadow(4px 4px 0px black);
  font-size: 35px!important;
  width: 300px;
  font-size: 30px;
}
#menuBtnChall, #menuBtnShop, #menuBtnProfile, #menuBtnSocial, #menuBtnMaps, #menuBtnMods, #menuBtnSettings {
  font-size: 00px!important;
  text-align: left!important;
    font-family: 'Montserrat', sans-serif!important;
filter: brightness(1) drop-shadow(2px 2px black) drop-shadow(-2px -2px black) drop-shadow(-2px 2px black) drop-shadow(2px -2px black) drop-shadow(4px 4px 0px black);
}

#menuBtnChall:hover, #menuBtnShop:hover, #menuBtnProfile:hover, #menuBtnSocial:hover, #menuBtnMaps:hover, #menuBtnMods:hover, #menuBtnSettings:hover{
  font-size: 45px!important;
font-family: 'Montserrat', sans-serif!important;
        text-shadow: -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     8px 8px black,7px 7px black,6px 6px black,5px 5px black,4px 4px black,3px 3px black, 2px 2px black, 1px 1px black, 0px 0px black!important;
}
#signedInHeaderBar {
  z-index: 3;
font-family: 'Montserrat', sans-serif!important;



}
#signedOutHeaderBar .material-icons {
  display: none!important;
}
#signedOutHeaderBar .buttonO {
  text-align: left;
  padding-left: 30px;
filter: brightness(1) drop-shadow(2px 2px black) drop-shadow(-2px -2px black) drop-shadow(-2px 2px black) drop-shadow(2px -2px black) drop-shadow(4px 4px 0px black);
  background: transparent!Important;
  border: none!important;
  font-size: 00px!Important;
}
#signedOutHeaderBar .buttonO:before {
  content: "Login";
  font-size: 40px!Important;
}
#menuClassContainer {
  top: 0;
  width: 400px;
  left: calc(100% - 350px);
  position: relative;
}
#menuKRCount, #menuJNKCount {
  
  font-size: 0px;
font-family: 'Montserrat', sans-serif!important;
}
.verticalSeparator {
  display: none;
}
#menuAccountUsername {
filter: brightness(1) drop-shadow(2px 2px black) drop-shadow(-2px -2px black) drop-shadow(-2px 2px black) drop-shadow(2px -2px black) drop-shadow(4px 4px 0px black);
  text-height: 40px;
  font-size: 00px;
  font-family: 'Montserrat', sans-serif!important;
  margin-bottom: 20px;
}
.headerBar {
  padding-top: 20px;
  padding-left: 20px;
  background: transparent;
}
#uiBase.onMenu #chatHolder {
  width: 330px;
  left: calc(100% - 360px);
  bottom: 130px;
} 
#chatSwitch {
  opacity: 0;
  filter: brightness(1) drop-shadow(2px 2px black) drop-shadow(-2px -2px black) drop-shadow(-2px 2px black) drop-shadow(2px -2px black) drop-shadow(4px 4px 0px black);
  position: absolute;
  bottom: 5px;
  left: 100px;
}
#chatSwitch:hover {
  opacity: 1;
}
#chatInputHolder {
  text-align: right!important;
}
.progressBarInner {
  background: white!important;
}
#mLevelCont {
  display: none;
}
.headerBar .progressBar {
  display: none;
}


#menuMiniProfilePic, #mailContainer, #menuKRCount>span[style="color:#fbc02d"], #menuJNKCount>span[style="color:#cc51f8;font-size:27px;margin-left:5px;vertical-align:top;margin-right:-5px;"] {
  display: none;
}
#gameNameHolder {
    display: none;
}
#seasonLabel {
    display: none;
}
#newUserGuide, #rankedBlog {
  display: none;
}
.menuClassPlayerName, .menuClassPlayerClan, .menuClassLevelBox {
  font-family: 'Montserrat', sans-serif!important;
  font-weight: 700;
  filter: brightness(1) drop-shadow(2px 2px black) drop-shadow(-2px -2px black) drop-shadow(-2px 2px black) drop-shadow(2px -2px black) drop-shadow(4px 4px 0px black);
  font-size: 30px;

}
.menuClassLevelBox {
  margin-right: 13px;
  font-size: 20px;
  background: #181818;
  padding: 5px;
  border-radius: 20px;
}
#menuClassNameTag>img[src="./img/ranked/rnk_0.svg"] {
  padding-right: 8px;
  filter: brightness(1) drop-shadow(2px 2px black) drop-shadow(-2px -2px black) drop-shadow(-2px 2px black) drop-shadow(2px -2px black) drop-shadow(4px 4px 0px black);
}
#menuClassSubtext, #menuClassName, #policeButton {
  display: none;
}
#customizeButton {
  margin-top: 60px;
  filter: brightness(1) drop-shadow(2px 2px black) drop-shadow(-2px -2px black) drop-shadow(-2px 2px black) drop-shadow(2px -2px black) drop-shadow(4px 4px 0px black);
  text-align: center;
  border: none!important;
  border-radius: 50px;
  width: 180px;
  padding-left: 4px;
  font-size: 0px!important;
  background: #181818;

}
#aHolder, #voiceDisplay, #rankedSoonTm, #menuServerInfoContainer {
  display: none!important;
}

#teamScores {
    position: fixed!important;
  top: 150px;
  left: 25px;
  background: none;
}
.tScoreC {
  width: 14px;
  height: 14px;
  border-radius: 10px;
  filter: brightness(1) drop-shadow(1px 1px black) drop-shadow(-1px -1px black) drop-shadow(-1px 1px black) drop-shadow(1px -1px black) drop-shadow(2px 2px 0px black);
}
#tScoreV1 {
  color: #eb5656;
          text-shadow: -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     4px 4px black,3px 3px black, 2px 2px black, 1px 1px black, 0px 0px black!important;
 font-family: 'Montserrat', sans-serif!important;
}
#tScoreV2 {
  color: white;
          text-shadow: -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     4px 4px black,3px 3px black, 2px 2px black, 1px 1px black, 0px 0px black!important;
 font-family: 'Montserrat', sans-serif!important;

}

#menuBtnEsports.menuItemTitle {

 display:none!important;}

#menuClassIcn {
display: none!important;
}

#classPreviewCanvas {
display: none!important;
}

#homeStoreAd, #battlepassAd {

  display: none!important;}
#mapInfoHld{
 }
#mapInfo{
  filter: none!important; }

.menuItem .menuItemTitle{

  display: none;
}

#PC7WaterMark2 {
 filter: none!important
}
#curGameInfo {
 display: none!important;
}

#bhHolder {
  display: none!important;
}

